<div id = "container">

<link rel ="stylesheet" type="text/css" href="application.css"/>
	<div id="text">
	<h1> Hi my name is Clara </h1>

	<div id="daisy"><%=image_tag("daisy.jpg")%></div>
	<h3> I study <em id = 'deutsch'>German</em> </h3> 

	<h4> I am a second year </h4>

	<h5> I enjoy painting pictures of my dog </h5>

	<p> I guess I'm most excited to be able to finally understand why people scream in my face RAILS RAILS RAILS RAILS when I'm just trying to pass my simple deutsch classes ya know? </p>
</div>


</div>